@import "../../styles";

.full-main {
	background: $main-panel;
	width: 100%;
	padding: 0 15px;
	margin: 0 auto;
	padding-bottom: 100px;
}

.main-content {
	margin-right: 32rem;
}

.menu-item {
	text-transform: capitalize
}
